<div class="form-header group ">
  <% if (folder.id) { %>
    <h4>Rename Folder</h4>
  <% } %>
  <button class="cancel">×</button>
</div>


<label>Folder Name
  <input type="text" name="folder[title]" value="<%= folder.escape("title") %>">
</label>

<button type="submit" class="submit submit-folder">Submit</button>
<% if (folder.id) { %>
  <div class="spacer"></div>
  <button class="submit delete-folder">Delete Folder</button>
<% } %>
