<h1>Log In</h1>
<form action="<%= session_url  %>" method="post">
  <%= form_auth_token %>
  <label>Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  <button>Log In</button>
</form>
