<div class="user-header">
  <h3>Username</h3>
  <h4>Member Since: </h4>
  <nav>
    <a href="#">My Recipes</a>
    <a href="#">Settings</a>
    <a href="#user/activity">Activity</a>
  </nav>
</div>

<section class="saved-recipes"></section>
<section class="profile-settings"></section>
<section class="profile-activity"></section>
