<div class="user-header">
  <h1><%= IWillCookThat.currentUser.escape("username") %></h1>
  <h3>Member Since: <%= IWillCookThat.currentUser.escape("created_at") %></h3>
  <nav>
    <a href="#user/saved">Saved Recipes</a>
    <a href="#user/settings">Settings</a>
    <a href="#user/activity">Activity</a>
  </nav>
</div>

<div class="user-content">
  <section class="saved-recipes"></section>
  <section class="profile-settings"></section>
  <section class="profile-activity"></section>
</div>
