<section class="saved-recipes-content group">
  <div class="nav-activity">
    <ul>
      <li class="all">
        <p>All Folders</p>
      </li>
      <% folders.each(function(folder){ %>
        <li class="folder">
          <p class="folder" data-id="<%= folder.id %>"
            ><%= folder.escape("title") %>
          </p>
           <i>&#x270e</i>
          <div class="edit-<%= folder.id %>">
            <div class="left-triangle"></div>
          </div>
        </li>
      <% }) %>
      <li class="add-folder">
        <p>Add Folder</p>
        <div class="add-folder-insert">
          <div class="left-triangle"></div>
        </div>
      </li>

    </ul>
  </div>

  <div class="saved-recipe-pane">
    <h3>(<%= total %>) Results</h3>

    <ul class="my-saved-recipes"></ul>
  </div>
</section>
