<section class="saved-recipes-content group">
  <div class="nav-activity">
    <ul>
      <li>
        <p class="all">All Folders</p>
      </li>
      <% folders.each(function(folder){ %>
      <li class="folder">
        <p data-id="<%= folder.id %>"
          ><%= folder.escape("title") %> <i>&#x270e</i>
        </p>
        <div class="edit-<%= folder.id %>">
          <div class="left-triangle"></div>
        </div>
      </li>
      <% }) %>
      <li class="add-folder">
        <p>Add Folder</p>
        <div class="add-folder-insert">
          <div class="left-triangle"></div>
        </div>
      </li>

    </ul>
  </div>

  <div class="saved-recipe-pane">
    <h3>(<%= total %>) Results</h3>

    <ul class="my-saved-recipes"></ul>
  </div>
</section>
