<section class ="user-activity-content group">
  <div class="nav-activity">
    <ul>
      <li>My Recipes</li>
      <li>My Reviews</li>
    </ul>
  </div>

  <div class="my-recipes-index">

  </div>

  <div class="my-reviews-index">

  </div>
</section>
