<section class ="user-activity-content group">
  <div class="nav-activity">
    <ul>
      <li data-div="my-recipes-index" class="active">My Recipes</li>
      <li data-div="my-reviews-index">My Reviews</li>
    </ul>
  </div>
  
  <section class="user-content">
    <div class="my-recipes-index active">

    </div>

    <div class="my-reviews-index">

    </div>
  </section>
</section>
