<section class="summary group">
  <h3><%= review.escape("rating") %>/4</h3>
  <h4>Cook Again? <% if (review.get("cook_again")) { %>Yes<% } else { %>No<% } %></h4>
</section>
<p><%= review.escape("body") %></p>
<em><%= review.escape("author") %> -- <%= review.escape("updated_at") %> </em>
