<h2>Add Your Review</h2>

<label>Rating
  <input
    type="number"
    min=1
    max=4
    name="review[rating]"
    value="<%= review.get("rating")  %>">
</label>
<br>
<label>Would you make it again?
  <input
    type="radio"
    name="review[cook_again]"
    value="true"
    id="cook-again"
    <%= review.get("cook_again") ? "checked" : "" %>>Yes
  <input
    type="radio"
    name="review[cook_again]"
    value="false"
    id ="cook-again"
    <%= review.get("cook_again")===false ? "checked" : "" %>>No
</label>
<br>

<label>Review Text
  <textarea name="review[body]" rows="4" cols="40"><%= review.escape("body") %></textarea>
</label>

<button class="submit-review">Submit Your Review</button>
