<h2>Recently Added Recipes</h2>

<ul class="group">
  <% recipes.each(function(recipe) { %>
    <li>
      <a href="#recipes/<%= recipe.id %>">
        <img
          src="<%= recipe.escape("photo_url") %>"
          alt="picture of <%= recipe.escape("title") %>" />
        <h3><%= recipe.escape("title") %></h3>
      </a>
    </li>
  <%  }) %>
</ul>
