<h3>Cook</h3>
<div class="recipe-intro">
  <p><%= recipe.escape("description")  %></p>
  Servings: <%= recipe.escape("servings") %>
</div>
<div class="recipe-ingredients">
  <p><%= recipe.escape("ingredients") %></p>
</div>
<div class="recipe-instructions">
  <p><%= recipe.escape("instructions") %></p>
</div>
