<div class="recipe-header">
  <h1><%= recipe.escape("title") %></h1>

  <img src="" alt="picture of <%= recipe.escape("title") %>" />
  <ul>
    <li>Average Rating:</li>
    <li>Reviews(#)</li>
  </ul>

  <div class="action-options">
    <ul>
      <li>Save</li>
      <li>Print</li>
    </ul>
  </div>

  <section class="recipe-detail"></section>

</div>
