div.main-recipe-form {
  background: image-url("cutting_board.jpg");
  background-size: cover;
  padding-bottom: 20px;
  border-radius: 5px;
}

form.recipe-form, form.review-form, form.sign-in{
  border: 1px solid #ccc;
  margin: 20px auto;
  border-radius: 5px;
  position: relative;
  padding: 40px 10px 10px 10px;
  background: white;
}

form.recipe-form {
  width: 600px;
}

form.recipe-form h2,
form.sign-in h2,
button.sign-in,
button.submit-recipe,
button.submit-review,
 .review-form h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

form.recipe-form h2, button.submit, .review-form h2, form.folder-form h2,
form.sign-in h2, button.sign-in {
  background: red;
  color:white;
  font-size: 18px;
  padding: 5px;
}

form.recipe-form h2, form.review-form h2{
  top: -15px;
}

.recipe-form textarea, .recipe-form input, .review-form textarea, .review-form input,
.sign-in input
 {
  display: block;
  border: 1px solid #ccc;
  border-radius:5px;
  padding: 10px;
  margin: 10px;
  font-size: 12px;

}

.review-form input[type="radio"], .review-form input[type="number"] {
  display: inline-block;
}

form.recipe-form textarea, form.review-form textarea {
  vertical-align: top;
  width: calc(100% - 40px);
}

button.submit-recipe, button.submit-review {
  bottom: -20px;
  border: 0px;
}

button.submit:hover {
  cursor: pointer;
  background: #CD0000;
}

a.go-back {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
}

a.go-back:hover {
  color:red
}

form.folder-recipe-form {
  border: 1px solid #ccc;
  padding:20px;
  border-radius: 5px;
  position: absolute;
  background: white;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  z-index: 4;
}

form.folder-recipe-form label {
  margin-bottom: 10px;
  float: left;
  clear: left;
}

form.folder-recipe-form button.cancel{
  position: absolute;
  top: 0;
  right: 5px;
}
