header.header {
  position: relative;
  border-bottom: 1px solid black;
  margin: 0 100px;
  padding: 10px;
  font-weight: 700;
}


header > h1 {
  color:red;
  font-size: 36px;
  font-weight: 900;
  font-family: "Overlock";
  margin: 20px 0 10px 0;
}

header > h1, h2 {
  text-align: center;
}

div.user-options h3{
  position: relative;
}

div.user-options ul{
  display:none;
  background: white;

}

div.user-options h3:hover ul{
  display:block;
  position:absolute;
  border: 1px solid #ccc;
}

div.user-options li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

div.user-options li:last-of-type {
  border: 0px;
}

div.user-options li:hover {
  background:red;
  color:white;
}

button.log-out {
  background:transparent;
  border:0;
  padding:0;
  font: inherit;
  padding: 0 0 0 10px;
  color: inherit;
}

div.user-options {
  position: absolute;
  top: 80px;
  padding: 0px 40px;
}

div.user-options a {
  padding: 10px;
}

div.user-options > a:hover {
  color:red;
}

div.user-options > a:last-of-type {
  border-left: 1px solid black;
}
