div.background-modal {
  background: #454545;
  opacity: 0.85;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

form.sign-in, form.sign-up {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

form.sign-in {
  width: 200px;
}
