div.main-content article {
  min-width: 820px
}

div.recipe-header {
  margin: 20px 0;
  border: 2px solid blue;
  padding: 20px 20px 20px 80px;
  border-radius: 5px;
  position: relative;
}

div.recipe-header h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

div.recipe-header h3 {
  padding-left: 20px;
}

ul.ratings {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

div.action-options {
  position: relative;
}

 .save-recipe:hover, .print-recipe:hover{
   color: red;
   cursor: pointer;
 }

ul.ratings li, div.action-options li{
  display: inline-block;
  padding: 0 20px;
}

ul.ratings li:first-of-type, div.action-options li{
  padding: 0 20px;
  border-right: 1px solid #ccc;
}

div.action-options li:last-of-type {
  border: 0;
}

ul.ratings h1 {
  color: red;
  font-weight: 900;
  font-size: 40px;
}

div.recipe-image {
  width: 400px;
  margin: 20px auto;
}

div.recipe-image img {
  display: block;
  max-width: 100%;
  height:auto;
  margin: 0 auto;
}
div.action-options {
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  margin: 10px auto;
  border-bottom: 1px solid #ccc;
  width: 350px;
  text-align: center;
}
