form.filtering {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 0 0;
  width: 120px;
}

form.filtering h2 {
  font-weight: bold;
  font-size: 20px
}

form.filtering label{
  display: block;
  font-weight: bold;
  margin: 10px 0;
}


div.recipe-index {
  float: left;
  width: calc(100% - 160px)
}

li.recipe-item {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  position: relative;
  min-width: 640px;
}

li.recipe-item img {
  float: left;
  background: grey;
  border-radius: 5px;
  width: 180px;
  height: 180px;
}

div.basic-info {
  float: left;
  padding: 20px 0 0 20px;
}

div.basic-info h4 {
  font-weight: 700;
  font-size: 30px;
}

div.basic-info a:hover {
  color:red;
}
div.basic-info h5 {
  font-size: 20px;
  padding-left: 20px;
}

li.recipe-item ul.ratings {
  top: 70px;
  right: -10px;
}

button.save-recipe {
  outline:none;
}

button.save-recipe:hover {
  color:red;
  cursor: pointer;
}

div.add-to-folder {
  position: relative;
  width: 300px;
}
