h1, h2, h3, h4, ul, li, p, html, body, header,
div, article, form, input, textarea, label, section,a  {
  margin: 0;
  padding: 0;
  border: 0;

  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: sans-serif;
  vertical-align: inherit;

  background: transparent;
}

ul {
  list-style: none;
}
