// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.review-list li {
  border-bottom: 2px solid #ccc;
  padding: 20px;
}

ul.review-list:not(.my-review-index) li:last-of-type {
  border:none;
}

ul.review-list h3, ul.review-list h4 {
  float:left;
  font-size: 20px;
}

ul.review-list h3 {
  color:red;
}

ul.review-list h4 {
  margin-left: 20px;
}

ul.review-list p {
  margin: 20px 0;
}

ul.my-review-index h2 {
  font-weight: 700;
  font-size: 20px;
  float: left;
  margin-right: 20px;
}

ul.my-review-index a:hover {
  color:red;
}

ul.my-review-index li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
