<div class="background-modal"></div>

<form class="sign-in">
  <button type="button" class="cancel">×</button>
  <ul class="error">
    <% _.each(errors, function(error){ %>
      <li><%= error %></li>
    <%  }) %>
  </ul>
  <label>Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  <button type="submit" class="sign-in submit">Log In</button>

  <a href="/auth/facebook">Log In with Facebook</a>
</form>
