<h2>Online Privacy Policy</h2>

<p>
  Welcome! This Online Privacy Policy applies to your use of websites, provided by IWillCookThat ("we" or "us") that include an authorized link or reference to this policy (collectively, the "Services"). This Online Privacy Policy applies only to the information we collect through the Services.

  By using any of our Services, you agree that this Online Privacy Policy governs your use of our Services and any dispute concerning the Services. Please take a few minutes to read them before using or registering to access our Services.
</p>

<h3>Information Collected Through Our Services:</h3>
<p>
  The information we gather through our Services falls into two categories: (1) information you voluntarily supply to us when you register, initiate transactions, participate in promotions or surveys, submit comments or questions or otherwise communicate with us or others through the Services, and (2) information collected automatically as you use our Services. Third-party providers and advertisers featured on, or linked to or from, our Services may also gather information through processes that we don't control and subject to their own separate privacy policies, which may differ from ours. Some of our Services also may participate in third-party advertising networks or similar services that collect information about your computer or device and your activity online and as a mobile user to tailor some of the advertising that you see on our Services and other third-party sites, mobile apps and marketing channels in their networks to your interests.
</p>



<h3>Registration and Other Personally Identifying Information:</h3>
<p>
  You may register to use certain features of our Services. When you register, we may collect personally identifying information, including your name, email address, user name and password.  We may also collect contact information for other individuals when you use the sharing and referral tools available within some of our Services to forward content or offers to your friends and associates. We use this information to facilitate the communications that you request. Please note that if you use any "send-to-a-friend" features of our Services, your email address may be included in the communication sent to your friend.
</p>

<h3>Information Collected Automatically When You Use Our Services.</h3>

<p>
  We or third-party contractors we engage may collect certain information automatically when you use our Services, including but not limited to:

  Web pages, content and advertisements you view and links you click on while navigating within our Services;
  Information about your interactions with our video or audio content, such as the type of content accessed via our Services;
  Information about your interactions with our email messages, such as the links you click on and whether you open or forward a message, the date and time of these interactions and the device you use to read emails;
  The site you visited before visiting our website and the site you visited after visiting our website;
  Your Internet Protocol (IP) address (a numerical address assigned to your computer by your Internet service provider so that other computers connected to the Internet can communicate with you online) that can sometimes be used to derive your general geographic area;
  Search terms you enter using our Services or on a referral site;
  Unique identifiers, including mobile device identification numbers, that can identify the physical location of devices in accordance with applicable law;
  Your device type, screen size, browser type, language and other settings, memory capacity, plug-ins, Internet domain, TCP configuration parameters, operating system, carrier code, time zone and the names, versions and package IDs of software installed on your device;
  Standard server log information; and
  Information collected through cookies and other tracking technologies (see additional descriptions of these terms below).
</p>


<h3>Personalization and Tracking Technologies.</h3>
<p>
  Like most website and mobile application operators, we, our service providers or other third parties acting on our behalf or with our permission, use embedded scripts, "cookies," web beacons, device identifiers and other tracking technologies to operate, analyze and improve our Services and tailor content and advertising to user interests. Third-party companies that provide some of the tools and features accessible through our Services and advertisers and other companies involved in the delivery of advertisements you see on our Services and other websites also may use tracking technologies to collect information about your use of our Services.
</p>


<h3>Cookies.</h3>

<p>
  Cookies are small amounts of data (often containing a unique identifier) that are stored in separate files within your computer or device’s Internet browser. Cookies are accessed and recorded by the websites you visit, and by the companies that deliver the advertisements you see on our services, so they can recognize the same browser navigating online. You can set your browser to accept or reject most cookies, or to notify you when a cookie is set. (Each browser is different, so check the "Help" menu of your browser to learn how to change your cookie preferences.) It is up to you to decide whether to allow us or third parties to set cookies, but if you block cookies, you may not be able to view or access some of the features of our Services. Please be aware that certain browsers cannot block or delete so-called "Flash" cookies, which use a feature of the Adobe Flash video player to store information on your computer. For information about how to delete Flash cookies, please visit the Adobe website here.
</p>


<h3>Social Network Posting Tools and "Share" Features.</h3>

<p>
  You can access various social network posting and sharing tools through our Services that are operated by third parties, including a "share" button that allows you to post links to content and features that you believe will be of interest to others on your social network pages. When you visit a page that includes one of these sharing tools, the third-party company that operates the tool may be collecting information about your browser, device and online activity through its own tracking technologies and subject to its own separate privacy policy, which may differ from ours.
</p>

<h3>How We Use The Information We Collect:</h3>

<p>
  Our primary goal in collecting information is to provide you with a customized experience when using our Services and to make them more valuable to you. Because our Services are supported by advertising, we also use the information we collect to help us and advertisers efficiently reach consumers who are most likely to be interested in particular products and services. We only use payment and identity verification information as necessary to complete a particular transaction, provide a requested service, enforce legal rights or comply with applicable law.

  In addition, we and our authorized service providers generally use other information that we or they collect about you to:

  Customize the content you see when you use our Services and other services as you navigate online;
  Analyze, operate and improve our Services, and fulfill your requests for products, services, and information; Help recognize your browser as a previous visitor and save and remember any preferences that may have been set while your browser was visiting one of our Services;
  Enable you to participate in features such as surveys, polls, sweepstakes, and message boards;
  Attribute content that you post to forums we operate on our Services;
  Recognize the same users as they access online or mobile services using multiple browsers or devices and deliver to them appropriate interest-based content and advertising;
  Control the display of advertising and develop and deliver advertising tailored to your interests, including advertising that you see on our Services, advertising you see on third-party websites, mobile applications and email programs, and offers and advertising you may receive offline or as push-notifications, from us or others;
  Measure and analyze visitor traffic and usage patterns and improve the quality and effectiveness of our content, features, advertisements, and other communications;
  Conduct market or audience analysis and related reporting;
  Understand whether our users read email messages and click on links contained within those messages;
  Prevent potentially prohibited or illegal activities, comply with applicable law and enforce our Visitor Agreement;
  For any other purposes disclosed to you at the time we collect your information or pursuant to your consent.

</p>
